E:\IOT Acres\Iot_Acres\Code\DHT22\.pio
E:\IOT Acres\Iot_Acres\Code\DHT22\.vscode
E:\IOT Acres\Iot_Acres\Code\DHT22\include
E:\IOT Acres\Iot_Acres\Code\DHT22\lib
E:\IOT Acres\Iot_Acres\Code\DHT22\test
E:\IOT Acres\Iot_Acres\Code\DHT22\platformio.ini